/*** ----- ----- ----- ***/
/*** ----- ОБЩИЕ ----- ***/
/*** ----- ----- ----- ***/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Сетка */
.wrapper {
    margin: auto;
    width: 77vw;
}

/* Главная навигация */
.page-navigation ul {
    width: 88vw;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    margin-top: 20px;
}

.page-navigation a {
    font-size: 28px;
}

/* Логотип */
.logo::before {
    content: 'ВУЗ';

    margin-right: 10px;
    padding: 3px 10px;
    border: 3px solid black;
}

.logo {
    font-size: 36px;
}

/*** ----- ---------- ----- ***/
/*** ----- РАСПИСАНИЕ ----- ***/
/*** ----- ---------- ----- ***/

.shedule {
    display: grid;
    grid-template-rows: 1fr repeat(2, 7.5fr);
    grid-template-columns: 50px 6fr repeat(6, 12fr);
    gap: 30px 15px;
    margin-top: 80px;
}

/* Подпись дней */
.day-title {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}

/* Подпись недель */
.week-title {
    display: flex;
    width: 30px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.week-title div {
    transform: rotate(-90deg);
} 

/* Таблица времени */
.shedule__time-card {
    display: grid;
    border: 1px solid black;
}

.shedule__time-card tbody {
    display: inherit;
}

.time-card__row {
    display: grid;
    grid-template-columns: 28px 1fr;
}

.time-card__number {
    border: 1px solid black;
}

.time-card__number span {
    display: flex;
    height: 100%;
    align-items: center;
    justify-self: center;
}

.time-card__time {
    border: 1px solid black;
}

.time-card__time span {
    display: flex;
    height: 100%;
    align-items: center;
    justify-self: start;
    padding-left: 5px;
}

.time-card__recess {
    grid-column: 1/3;
    border: 1px solid black;
}

.time-card__recess span {
    display: flex;
    justify-content: left;
    padding-left: 5px;
    align-items: center;
    height: 100%;
}

/* Карточка дня */
.day-card {
    display: grid;
    position: relative;
    border: 1px solid black;
}

.day-card tbody {
    display: inherit;
}

.day-card__date {
    position: absolute;
    top: -16px;
    left: -1px;
    font-size: 12px;
    border: 1px solid black;
}

.day-card__lesson {
    display: grid;
    grid-template-columns: 28px 1fr 40px;
}

.lesson__number {
    border: 1px solid black;
}

.lesson__number span {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.lesson__name {
    position: relative;
    border: 1px solid black;
}

.lesson__name span {
    display: flex;
    height: 100%;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
}

.lesson__type {
    position: absolute;
    top: -11px;
    right: 3px;
    font-size: 12px;
}

.lesson__place {
    border: 1px solid black;
}

.lesson__place span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
}

.day-card__recess {
    grid-column: 1/4;
    border: 1px solid black;
    color: white;
}

/* Для телефона (Временно) */
@media screen and (max-width: 728px) {

    .page-navigation {
        display: none;
    }

    .shedule {
        grid-template-columns: 1fr;
        grid-template-rows: 0 repeat(14, 1fr);
    }

    .shedule__time-card, .week-title, .day-title {
        display: none;
    }

    .day-card {
        margin: auto;
        width: 44vw;
    }

    .day-card__lesson {
        height: 32px;
    }
}